@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: hsl(212, 45%, 89%);
}
.qr {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qr_card {
    width: 500px;
    background: hsl(0, 0%, 100%);
    padding: 16px 16px 40px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
}
.qr_wrapper {
    width: 288px;
    height: 288px; 
    background-color: #2B7DFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px; 
}
.qr_title {
    text-align: center;
    font-weight: 900;
    font-size: 21px;
    color: #000;
    letter-spacing: 0.04em;
    margin-top: 28px;
    margin-bottom: 22px;
    width: 250px;
}
.qr_text {
    width: 250px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #948A8A;
    letter-spacing: -0.015em;
}
.attribution{
    margin-top: 10px;
}
.qrCodeOutput{
    width: 100%;
    height: 100%;
}